/* style.css */

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.container {
  flex: 1;
}
Default styling for larger screens .questions1 {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 16px;
}

.questions {
  display: flex;
  flex-direction: column;
  padding-bottom: 44px;
  padding-right: 32px;
  margin-left: 32px;
}

/* Media query for screens below 1000px */
@media (max-width: 1400px) {
  .questions1 {
    flex-direction: column;
    align-items: flex-start;
  }

  .questions {
    margin-top: 16px;
  }
}

.me {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1.5s ease;
}

.me.active {
  opacity: 1;
  transform: translateY(0);
}

.about-me {
  opacity: 0;
  transform: translateX(-100%);
  transition: opacity 0.5s ease, transform 0.8s ease;
}

.about-me.active {
  opacity: 1;
  transform: translateX(0);
}
.flex-1 {
  flex: 1;
  text-align: center;
  position: relative;
  margin: 20px;
  overflow: hidden;
}

.flex-1 img {
  width: 100%;
  height: 100%;
  transition: transform 0.3s;
}

.flex-1:hover img {
  transform: scale(1.05);
}
